# Entornos virtuales (Muy importante)
.venv/
venv/
env/
ENV/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Herramientas de Testing
.pytest_cache/
.coverage
htmlcov/

# Variables de entorno (Seguridad)
.env
.flaskenv

# VS Code
.vscode/

# Archivos de SO
.DS_Store
Thumbs.db